@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Fruktur:ital@0;1&family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    scroll-behavior: smooth;
}
html{
    animation: aparecer forwards  .9s ;
    overflow-x: hidden;
}
body{
    position: relative;
}
.header{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #181a3b;
    overflow: hidden;
}
.header__logo{
    height: 800px;
    width: 800px;
    transform: translate(-150px, -150px);
    position: absolute;
    left: 0;
}
.header__links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header__enter{
    background-color: #181a3b;
    padding: 20px 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
}
.header__enterprise{
    font-size: 75px;
    font-weight: 100;
    color: #ff6500;
    font-family: teko;
    text-align: center;
    transition: filter .1s;
    background: transparent;
    filter:drop-shadow( 3px 3px white);
}
.header__enterpris{
    color:#ff6500 ;
    font-weight: 500;
    height: 186px ;
    width: 190px;
    font-family: teko;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 25px;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.list__complete{
    position: absolute;
    display: none;
    gap: 10px;
}
.list__service{
    position: relative;
    gap: 10px;
}
.font{
    font-size: 25px;
}

li:hover + li ul li {
    display: block;
    gap: 10px;
    z-index: 3;  
}
li:hover{
    background-color: rgb(87, 7, 7);
}
.header   ul:hover li .list__complete{
    display: flex;
    flex-direction: column;
}
.list{
    transition: transform .2s;
    border-radius: 10px;
    padding: 3px 5px;
}
body > section.header > div.header__links > ul > li:nth-child(2) > ul > li > a{
    font-size: 21px;
}
.list:hover{
    transform: scale(1.1);
}
.list__complete:hover{
    z-index: 4;
    display: block;
}
.list__service:hover{
    background-color: #181a3b;
}
.fondo{
    background-image: url(img/zaxisy.jpg);
    width: 100%;
    height: 882px;
    filter: grayscale(.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1 ;
}
.terrain{
    background-image: url(img/after1.jpeg);
    background-position: center;
    background-size:cover ;
}
.jarillon{
    background-image: url(img/jarillon2.jpeg);
    background-position: center;
    background-size:cover ;
}
.canalsecond{
    background-image: url(img/tunel.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.recava{
    background-image: url(img/harillon.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo::after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.539);
    content: " ";
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;  
    filter: brightness(100%); 
}
.vehicles{
    width: 100%;
    height: 80vh;
    background-color: #181a3b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.vehicles__complete{
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vehicles__heavy{
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    transition: .5s;
}
.vehicles__terra{
    height: 250px;
    width: 250px;
    background-color: crimson;
    border-radius: 40px;
}
.after{
    background-color: blue;
    position: relative;
}
.before{
    background-color: crimson;
    position: relative;
}
.heavy__motors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.after:hover::after{
    content: "despues";
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(img/gallery__picture11.jpg);
   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.before:hover::before{
    content: "antes";
    color: white;
    background-image: url(img/corsa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terrains__image{
    width: auto;
    height: 450px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #181a3b;
    margin-right: 30px ;
}
.title{
    font-family: fruktur;
}
.tee{
    font-size: 30px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.service{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
    padding: 0 10px;
    height: 400px;
    width: 100%;
}
.nivelacion{
    position: absolute;
    color: white;
    top: 20px;
}
.justify{
    text-align: justify;
    font-size: 25px;
    font-weight: 500px;
}
strong{
    font-size: 30px;
}
form{
    z-index: 3;
}
.vehicles__heavy--backhoe:hover::after{
    content: "antes";
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff66006d;
    border-radius:10px;
}
.terrains__image{
    width: 700px;
    height: 350px;
    right: 10px;
}
.justify{
    position: relative;
    width: 600px;
}
.vehicles__heavy--backhoe::after{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.vehicles__heavy--backhoe{
    background-image:url(img/before1.jpeg);
    position: relative;
}
.vehicles__heavy--bulldozer:hover::after{
    background-color: #ff66006d;
    border-radius: 10px;
    opacity: 0.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "durante";
}
.vehicles__heavy--bulldozer::after{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.vehicles__heavy--bulldozer{
    background-image:url(img/after3.jpeg);
    position: relative;
}
.vehicles__heavy--nivelator:hover::after{
    content: "despues";
    color: white;
    opacity:.1 ;
    background-color: #ff66006d;
    border-radius: 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicles__heavy--nivelator::after{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.vehicles__heavy--nivelator{
    background-image:url(img/after1.jpeg); 
    position: relative;  
}
.contain__logo{
    overflow: hidden; 
    width: 500px;
    height: 500px;
} 
h2{
    color: black;
    font-size: 30px;
}
.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    height: 90vh;
}
.space__text{
    height: 50vh;
    width: 50%;
    margin-top: 400px;
    font-size: 25px;
    text-align: justify;
}
.contain__silueta{
    overflow: hidden;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont__buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.butt{
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: fruktur;
    border: none;
    outline: none;
    perspective: 10px;
}
.butt:not(:active){
    background-color: #ffffff;
    transform: translate(-5px ,5px);
    box-shadow: 5px -5px;
}
.space__silueta{
    height: 70vh;
    filter: drop-shadow(15px 15px #ff6500);
    margin-right: 25px;
}
service__semidome{
display:none;
}
.footer{
    height: 40vh;
    width: 100%;
    background-color:#181a3b;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0;
    overflow: hidden;
}
.float{
    background-image: url(img/whatsapp.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    position: inherit;
    background-color: #45c556;
    border-radius: 50%;
}
.contain__float{
    position: fixed;
    bottom: 100px;
    right: 90px;
    z-index: 100;
}
#rpg{
    flex-direction: column;
}
#rpg a{
color: #ff6500;
filter: drop-shadow(1px 1px gold);
}
.footers{
    height: 200px;
    width: 200px;
    color: white;
    text-align: justify;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer__formulary{
    width: 500px;
    height: 90%;
    background-color: #181a3b;
    color: white;
    font-weight: 700;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.buttons{
    background-color: #444cf7;
    color: white;
    font-weight: normal;
    font-size: 1rem;
    padding: .8em 5px;
    border: none;
    border-radius:10px ;
    cursor: pointer;
    transition: transform .5s;
}
.logo__empresa{
    height: 600px;
    width: 600px;
    background-image: url(img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.hidden{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.info{
    border: none;
}
.cont{
    position: relative;
    --color: #5757575e;
    margin: 10px;
}
.container{
    margin-top: 20px;
    display: grid;
    gap: 2em;
}
.info{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color:white;
    width: 100%;
    height: 40px;
    bottom: 0;
    transform: translateY(10px);
    color:#706c6c;
    font-size: 1rem;
    padding:  .6rem .3rem;
    border-bottom: #000 solid 1px var(--color);
    font-family: 'Baumans', cursive;
}
.touch{
    color: var(--color);
    cursor: pointer;
    top: 0;
    left: 5px;
    position: absolute;
    transform: translateY(10px);
    transform-origin:left bottom;
    transition: .5s, color .3s;
}
p{
    font-size: 20px;
}

.header__entre > .hidden{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header__entre > h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    gap: 100px;
}
.logo__empresa{
    width: 500px;
    height: 500px;
    transform: translateX(-10px);
}
.hidden{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.header__entre{
    padding: 0;
    transform: translateX(10px);
}
h2 a{
    text-align: justify center;
    width: 400px;
}
br{
display:none;
}
.service__jarillon{
    flex-direction: row-reverse;
    }
    .service__recava{
    flex-direction: row-reverse;
    }












@media (max-width:1100px){ 
    *{
    font-size:25px;
    }
    footer,body{
        width: 100%;
        overflow-x: hidden;
    }
    .allfoo{
    text-align:center ;
        font-size:20px;
}
    body > section.header > div.header__links{
        display: none;
    }
    .header__enterprise{
        font-size: 60px;
        z-index: 100;
        transform: translateY(100);
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contain__logo,.logo__empresa,.header__logo{
        display: none;
    }
    .header__enterprise{
        margin: auto;
    }
    .contain__float{
        display: none;
    }
    .space__silueta{
        display: none;
    }
    .space__text{
        width: 80%;
        margin: auto;
        margin-top: 30px;
        z-index: 10;
        font-size:25px;
    }
    .space{
        height:400px ;
    }
    .vehicles{
        display: none;
    }
    .header h2{
        width: 500px;
    }
    #header__enterprise{
        display: flex ;
        flex-direction: column;
    }
    .fondo{
        display: none;
    }
    .footers{
        display:none;
    }
    .terrains__image{
        height: 50%;
        width: 70%;
    }
    .service{
        display: flex;
        flex-direction: column;
    }
    .service__canalsecond,.service__jarillon{
        flex-direction: column-reverse;
    }
    a.header__enterprise{
        display: none;
    }
    .header__enter{
    text-align: center
    }
    a{
        text-align: justify;
    }
    a span{
        display: none;
    }
    .justify{
        text-align: center;
        max-width: 400px;
    }
}











@media (max-width:500px){
*{
    font-size: 20px  ;
}
br{
display:block;
}
.space__text{
    text-align:justify;
}
.justify{
    max-width: 400px;
}
.terrains__image{
    box-shadow: 7px 7px 7px 7px #181a3b;
    transform: translateX(15px);
}
.allfoo{
    justify-content:center;
    font-size:20px;
    text-align:center;
       
}
.header__enter{
text-align: justify
}
#header__enterprise{
    font-size: 60px !important;
}
}
@keyframes aparecer{
    0%{opacity: 0;

    }
    100%{
        opacity:1;
    }


}
